<div class="col-lg-3">
    <div class="dec-card">
        <h5 class="dec-title"> Eintala </h5>
        <div class="form-group">
            <input name="et-nf" class="form-control form-control-lg dec-form" type="text" placeholder="nefnifall">
            <input name="et-thf" class="form-control form-control-lg dec-form" type="text" placeholder="þolfall">
            <input name="et-thgf" class="form-control form-control-lg dec-form" type="text" placeholder="þágufall">
            <input name="et-ef" class="form-control form-control-lg dec-form" type="text" placeholder="eignarfall">

            <input type="hidden" name="answer" id="et-nf" value="<%= ordData.et[0] %>">
            <input type="hidden" name="answer" id="et-thf" value="<%= ordData.et[1] %>">
            <input type="hidden" name="answer" id="et-thgf" value="<%= ordData.et[2] %>">
            <input type="hidden" name="answer" id="et-ef" value="<%= ordData.et[3] %>">
        </div>
    </div>
</div>

