<div class="col-lg-3">
    <div class="dec-card">
        <h5 class="dec-title">Eintala m. greini</h5>
        <div class="form-group">
            <input name="etgr-nf" class="form-control form-control-lg dec-form" type="text" placeholder="nefnifall">
            <input name="etgr-thf" class="form-control form-control-lg dec-form" type="text" placeholder="þolfall">
            <input name="etgr-thgf" class="form-control form-control-lg dec-form" type="text" placeholder="þágufall">
            <input name="etgr-ef" class="form-control form-control-lg dec-form" type="text" placeholder="eignarfall">

            <input type="hidden" name="answer" id="etgr-nf" value="<%= ordData.etgr[0] %>">
            <input type="hidden" name="answer" id="etgr-thf" value="<%= ordData.etgr[1] %>">
            <input type="hidden" name="answer" id="etgr-thgf" value="<%= ordData.etgr[2] %>">
            <input type="hidden" name="answer" id="etgr-ef" value="<%= ordData.etgr[3] %>">
        </div>
    </div>
</div>

