<div class="col-lg-3">
    <div class="dec-card">
        <h5 class="dec-title">Fleirtala</h5>
        <div class="form-group">
            <input name="ft-nf" class="form-control form-control-lg dec-form" type="text" placeholder="nefnifall">
            <input name="ft-thf" class="form-control form-control-lg dec-form" type="text" placeholder="þolfall">
            <input name="ft-thgf" class="form-control form-control-lg dec-form" type="text" placeholder="þágufall">
            <input name="ft-ef" class="form-control form-control-lg dec-form" type="text" placeholder="eignarfall">

            <input type="hidden" name="answer" id="ft-nf" value="<%= ordData.ft[0] %>">
            <input type="hidden" name="answer" id="ft-thf" value="<%= ordData.ft[1] %>">
            <input type="hidden" name="answer" id="ft-thgf" value="<%= ordData.ft[2] %>">
            <input type="hidden" name="answer" id="ft-ef" value="<%= ordData.ft[3] %>">
        </div>
    </div>
</div>

