<div class="col-lg-3">
    <div class="dec-card">
        <h5 class="dec-title">Fleirtala m. greini</h5>
        <div class="form-group">
            <input name="ftgr-nf" class="form-control form-control-lg dec-form" type="text" placeholder="nefnifall">
            <input name="ftgr-thf" class="form-control form-control-lg dec-form" type="text" placeholder="þolfall">
            <input name="ftgr-thgf" class="form-control form-control-lg dec-form" type="text" placeholder="þágufall">
            <input name="ftgr-ef" class="form-control form-control-lg dec-form" type="text" placeholder="eignarfall">

            <input type="hidden" name="answer" id="ftgr-nf" value="<%= ordData.ftgr[0] %>">
            <input type="hidden" name="answer" id="ftgr-thf" value="<%= ordData.ftgr[1] %>">
            <input type="hidden" name="answer" id="ftgr-thgf" value="<%= ordData.ftgr[2] %>">
            <input type="hidden" name="answer" id="ftgr-ef" value="<%= ordData.ftgr[3] %>">
        </div>
    </div>
</div>

