* {
    margin: 0;
}

html {
    height: 100%;
}

body {
    background-color: #393e46;
    height: 100%;
}

.cont {
    min-height: 100%;
    position: relative;
}


.title-container {
    background-color: #222831;
    /* border-bottom: solid 1px #00adb5; */
    box-shadow: 0px 5px 3px #222222;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 3rem;
    color: #eeeeee;
}

h3 {
    color: #eeeeee;
    padding: 5px;
}

h5 {
    color: #eeeeee;
    padding-top: 15px;
}
.main-container {
    padding-bottom: 50px;
}

.dec-card {
    background-color: #222831;
    box-shadow: 5px 5px 3px #222222;
    border-radius: 10px;
    margin: 20px 0 20px 0;
    text-align:  center;
}

.form-group {
    padding: 0 10px 10px 10px;
}

.dec-form {
    max-width: 400px;
    margin: 20px auto;
}

p {
    color: #eeeeee;
    margin: 0;
    text-align: center;
    font-size: 10px;
    color: #808080;
    padding-top: 10px;
}

a {
    color: #808080;
    text-decoration: underline;
}

.fas {
    color: #eeeeee;
    font-size: 2rem;
}

button {
    width: 100%;
    border: none;
}

.footer {
    width: 100%;
    background-color: #222831;
    position: absolute;
    bottom: 0;
    height: 50px;
    clear: both;
}

body:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px;
    /* thank you Erik J - negate effect of float*/
  }